html, body {
  margin: 0;
  padding: 0;
}

/*Header*/
.header-image {
  width: 100%;
  height: 100%;
      }
      
.header-title {
  position: absolute;
  top: 13vh;
  left: 26vw;
  color: black;
  font-size: 2.1rem;
  background: white;
  padding: 5px;
}

.welcome-text {
  padding: 15px;
}

.scroll-text{
  padding: 15px;
}

/* End of the Header*/

/* section*/

.info-cards {
  padding: 15px;
}

.card-img-top {
  width: 100%;
  height: 225;
}

.clip-background {
  background-color: #b3e6ff;
}

.hotel-title {
  background-repeat: no-repeat;
  position: relative;
}

.hotel-title-text {
  padding: 5px;
  top: 15vh;
  left: 5vw;
  position: absolute;
    background-color: white;
}

.attraction-title {
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.attraction-title-text {
  padding: 5px;
  top: 15vh;
  left: 5vw;
  position: absolute;
    background-color: white;
}

.restuarant-title {
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.restuarant-title-text {
  padding: 5px;
  top: 15vh;
  left: 5vw;
  position: absolute;
    background-color: white;
}

.header-img {
  position: relative;
}

.map-title-img {
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.map-title-text {
  padding: 5px;
  top: 15vh;
  left: 5vw;
  position: absolute;
    background-color: white;
}

.title-text {
  color: black;
  background: white;
}

.contact-info {
  padding: 15px;
}

.attraction-button
.restuarant-button
.hotel-button {
  scroll-behaviour: smooth;
}


/* Start of Map Code */

#map {
  height: 450px;
}

.container-fluid {
  padding: 0px;
}
