html, body {
        height: 100%;
        margin: 0;
        padding: 0;
}

#map {
        min-height: 360px;
}

.map-location {
    font-size: 1rem;
    cursor: pointer;
}
.map-location,
.map-location div {
    width: 15px;
    height: 15px;
}

.map-location div {
    position: absolute;
    z-index: 100;
    display: block;
    background-color: rgba(225,0,25,.8);
    background-color: rgba(241, 94, 36, 0.8);
    border-radius: 50%;
}

.map-location div:after,
.map-location div:before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
  /*
    //border: 3px solid rgba(255,0,25,.2);
  */
    border: 3px solid rgba(241, 94, 36, 0.3);
    border-radius: 50%;
    box-sizing: content-box;
}

.map-location.current-hotel div:after
/*.spot:hover div:after */
{
    animation: over 2s ease-out 1s infinite;
}

.map-location div:after {
    transform: scale(.7);
}