
/* Start of the Header code*/
.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}
/* End of the Header code*/


/* Start of Map Code */
html, body {

  margin: 0;
  padding: 0;
}

#map {
  height: 500px;
}

.container-fluid {
  padding: 0px;
}

/* End of Map Code */

/*  Why st lucia  */

.feauturette-img {
  display: block;
}