html, body {

  margin: 0;
  padding: 0;
}

/*Header*/
.header-image {
  width: 100%;
  height: 100%;
      }
      
.header-title {
  position: absolute;
  top: 45vh;
  left: 30vw;
  color: #fff;
  font-size: 4rem;
  background: yellow;
  padding: 15px;
}
/* End of the Header*/

/* section*/

.card-img-top {
  width: 100%;
  height: 225;
}

/* end of section*/



/* Start of Map Code */

#map {
  height: 450px;
}

.container-fluid {
  padding: 0px;
}

/* End of Map Code */